name: .NET

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        tfm: [ 'net8.0', 'net9.0', 'net10.0' ]

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test Mediator.DependencyInjection
        run: dotnet test --no-restore --verbosity normal --framework ${{ matrix.tfm }} tests/Mediator.DependencyInjection.Tests/Mediator.DependencyInjection.Tests.csproj